<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }} | {{ site.title }}</title>
    {% seo %}
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
    {% for style in page.styles %}
        <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
</head>
<body>
<header>
    <!-- Add basic navigation later -->
    <a id="adminPage" href="{{ 'admin' | relative_url }}" target="_blank">Admin</a>
    <script>
        if(!localStorage.getItem('decap-cms-user')){
            adminPage.remove()
        }
    </script>
</header>

<main>
    <!-- Page content will go here -->
    {{ content }}
</main>

<footer>
    <p>© {{ 'now' | date: "%Y" }} {{ site.author }}</p>
</footer>
</body>
</html>
